* {
    font-family: sans-serif;
}

body {
    background-color: black;
}

.navega {
    background-color: black;
    display: block;
    float: left;
    color: antiquewhite;
    width: "20%";
    padding: 0px;
    padding-right: 30px;
}

.navega p {
    padding: 0px;
}

.navega p:hover {
    filter: brightness(0.5);
    transition: 0.5s;
}

.contenido {
    float: left;
    width: 90%;
}

.bloque1 {
    background-color: dodgerblue;
    margin-top: 0px;
    padding: 30px;
}

.bloque2 {
    background-color: peru;
    padding: 30px;
}

.bloque3 {
    background-color: darkorange;
    padding: 30px;
}

.bloque4 {
    background-color: red;
    padding: 30px;
}

h1 {
    font-size: 20px;
    color: white;
    margin: 0%;
    padding: 0%;
}

p {
    text-align: justify;
    color: white;
}